header, .blogpost:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  background-color: #241011;
}

header nav a {
  margin: 0 2.75rem;
}

header h1 {
  background-color: #d8ebcf;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.25rem #aba9aa;
  width: fit-content;
}
main {
  background-color: #d8ebcf;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
