html{
  height: 100%;
}
body {
  background-color: #d8ebcf;
  height: 100%;
  display: flex;
  flex-flow: column;
}
header {
  border-bottom: 1px solid #ccc;
  background-color: #241011;
}
header nav {
  padding-top:0.75rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
header nav a {
 /* margin: 0 2rem; */
}
header h1 {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: #d8ebcf;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.25rem #aba9aa;
  width: fit-content;
}
main{
  display: flex;
  flex-flow: column;
  height: 82%;
  justify-content: space-between;
  /* display: flex;
  flex-flow: column; */
  /* flex:1 1 auto; */
}
.container.container-fluid ul{
  
}
.blogpost {
  border: 0.25rem solid #241011;
}
.blogpost-header{
  display: flex;
  justify-content: space-between;
  background-color: #241011;
  color: #FFF;
  min-height: 2.15rem;
}
.blogpost-header div {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}
.blogpost-header a {
  /* padding: 0.42rem; */
  font-weight: bold;
  color: #FFF;

}
/* .blogpost-header a:hover {
  text-decoration: none;
} */
.blogpost-content{
  margin: 1rem;
}
.access-border{
  /* background-color: #241011; */
  border: 0.25rem solid #241011;
  width: 100%;
 
}
.access-border h2{
 background-color: #241011; 
 padding-left: 0.80rem;
 color: #FFF;
 font-size: 1.5rem;
 font-family: Arial, Helvetica, sans-serif;
}
.access-login{
  /* background-color: #241011; */
  /* border: 0.25rem solid #241011; */
  padding: 0rem 0.80rem 0.80rem 0.80rem;
  width: 100%;
}
.access-signup{
  /* background-color: #241011; */
  /* border: 0.25rem solid #241011; */
  padding: 0rem 0.80rem 0.80rem 0.80rem;
  width: 100%;
}
.btn-access{
  width: 100%;
  background-color: #aba9aa;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #f7f7f7;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #f0f0f0;
  text-decoration: none;
}

/* override */
form .form-input{
  margin: 0;
}
/* override */
.btn.btn-primary{
  background-color: #aba9aa;
}

/* override */
.btn.btn-primary:hover{
  background-color: #241011;
}
/* override */
.container{
  max-width: 1800px;
}

@media screen and (min-width:687px){
  
  header nav{
    max-width: 343.5px;
  }

}